[Simulation]
# keys: the argument names in the command mask
# values: the base values to be inserted
__NITROGEN_RATIO__=0.3
__CARBON_RATIO__=1.0
__FIXED_OXYGEN_LEVEL__=75.0
__FIXED_OXYGEN_DIFFUSION__=10000.0
__FIXED_CO2_LEVEL__=600.0
__T_MAX__=25.0
__FE_PRECIPITATION__=0.1

[Rate names]
# the names of the rates, in the order as they appear in the
# data files
1=iron_oxidation_(oxygen)
2=ammonia_oxidation
3=sulfur_oxidation
4=iron_oxidation_(nitrate)
5=methanotropy_(oxygen)
6=aerobic_heterotrophy
7=nitrate_reduction
8=iron_reduction
9=sulfur_reduction
10=methanogenesis

[Analysis]
# multipliers: for each argument to be varied, simulations will be
# run that vary the argument values over all the multiplier values
lower_multiplier = 0.99
upper_multiplier = 1.01
n_multipliers = 5

[Scripting]
# number of job scripts
n_submits=1 

# the command and out files. note the quotes!
command_mask = matlab -nojvm -r "run({}); exit;"
matlab_data_fn_mask = '../data/rates_{0}_{1}.csv'
analysis_data_fn_mask = data/rates_{0}_{1}.csv

# for other files
submit_fn_mask = bin/submit_{0}.sh
param_fn_mask = maps/params_{0}.txt
valmap_mask = maps/valmap_{0}.csv
